<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favorite books</title>
</head>
<body>
    <input name="book_name" placeholder="Enter Book name">
    <input name="isbn" placeholder="Enter ISBN">
    <input name="pages" placeholder="Enter Book pages">
    <input name="year" placeholder="Enter Book published year">
    <input name="book_name" placeholder="Enter Book name">
    <select name="author_select">
        <option disabled selected>Select author</option>
        {% for author in authors %}
            <option value="{{ author.first_name }}">{{ author.last_name }} {{ author.gender }}</option>
        {% endfor %}
    </select>
    <select name="genre_select">
        <option disabled selected>Select genre</option>
        {% for genre in genres %}
            <option value="{{ genre.genre_name }}">{{ genre.id }}</option>
        {% endfor %}
    </select>
    <button value="Submit">Submit</button>
</body>
</html>